.App {
  text-align: center;
  background-color: #ffffff;
  margin: 0px;
  cursor: crosshair;
}

.App-header {
  background-color: rgb(255, 255, 255);
  min-height: 50px;
  width: 100%;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  color: rgb(63, 63, 63);
  position: fixed;
  z-index: 10;
}

.Pic-wrapper {
  margin: 0;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  min-width: 600px;
  display: flex;
  flex-direction: row;
}

.Column {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
